

{% extends "catalog.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block content %}
<div class="col-lg-12">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 col-ms-10">
<form class="form" action="." method="post">

    <caption><strong> Change Password</strong></caption>
        {{ form|crispy }}
                {% csrf_token %}
                <input class="btn btn-danger mb-5" type="submit" name="submit" value="Change">
</form>
        </div>
    </div>
</div>
{% endblock %}